<h4 style="text-align: center;"><%= (t 'contacts.listing_contacts') %></h4>
<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= (t 'contacts.name') %></th>
      <th><%= (t 'contacts.email') %></th>
      <th><%= (t 'contacts.phone') %></th>
      <th><%= (t 'contacts.content') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <%= will_paginate %>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.email %></td>
        <td><%= contact.name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.content %></td>
        <td><%= link_to (t 'button.show'), contact, class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to (t 'button.delete'), contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
  <%= will_paginate %>
</table>

<br>
  <% if current_user.try(:admin?) %>
<%= link_to 'New Contact', new_contact_path, class: "btn btn-sm btn-primary" %>
  <% end %>
</div>