<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#myCarousel").carousel({
                interval : 5000,
                pause: false
            });
        });
    </script>
    <!--Google Analytics-->
    <!--Google Analytics-->
    <!--Google Map-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        var map;
        function initialize() {
            var mapOptions = {
                zoom: 8,
                center: new google.maps.LatLng(-34.397, 150.644)
            };
            map = new google.maps.Map(document.getElementById('map-canvas_c'),
                    mapOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <!--Google Map-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= content = yield %>
    <!--Back To Top Button-->
    <% if content.length > 1200 %>
      <%= link_to("#top") do %>
          <div id="backtotop" style="display: block;">
          </div>
      <% end %>
  <% end %>
  <% if current_user.try(:admin?) %>
      <%= render 'layouts/admin' %>
  <% else %>
  <% end %>
      <div class="container">
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      </div>
  </body>
</html>